openapi: 3.2.0
info:
  title: Alaska Airlines Mileage Plan Members API
  description: The Alaska Airlines Mileage Plan partner API enables airline partners, hotel chains, car rental companies, and other loyalty partners to report and redeem miles for members. Alaska's Mileage Plan is consistently rated among the top frequent flyer programs.
  version: 1.0.0
  contact:
    name: Alaska Airlines API Support
    url: https://developers.alaskaair.com/
    email: api.support@alaskaair.com
  license:
    name: Proprietary
    url: https://developers.alaskaair.com/
  x-generated-from: documentation
servers:
- url: https://api.alaskaair.com/loyalty/v1
  description: Alaska Airlines Mileage Plan API server
security:
- OAuth2: []
tags:
- name: Members
  description: Mileage Plan member data and tier information
paths:
  /members/{memberId}:
    get:
      operationId: getMember
      summary: Alaska Airlines Get Mileage Plan Member
      description: Retrieve Mileage Plan member information including tier status, balance, and account details for a specific member ID.
      tags:
      - Members
      parameters:
      - name: memberId
        in: path
        required: true
        description: Alaska Airlines Mileage Plan member number
        schema:
          type: string
          example: '12345678'
      responses:
        '200':
          description: Mileage Plan member information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Member'
              examples:
                getMember200Example:
                  summary: Default getMember 200 response
                  x-microcks-default: true
                  value:
                    memberId: '12345678'
                    firstName: Jane
                    lastName: Smith
                    email: jsmith@example.com
                    tier: MVP Gold 75K
                    mileBalance: 125000
                    tierMiles: 78500
                    memberSince: '2018-03-15'
        '404':
          description: Member not found
        '401':
          description: Unauthorized
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Member:
      title: Member
      type: object
      description: Alaska Airlines Mileage Plan member
      properties:
        memberId:
          type: string
          description: Mileage Plan member number
          example: '12345678'
        firstName:
          type: string
          description: Member first name
          example: Jane
        lastName:
          type: string
          description: Member last name
          example: Smith
        email:
          type: string
          format: email
          description: Member email address
          example: jsmith@example.com
        tier:
          type: string
          description: Current MVP tier status
          enum:
          - Member
          - MVP
          - MVP Gold
          - MVP Gold 75K
          example: MVP Gold 75K
        mileBalance:
          type: integer
          description: Current available mile balance
          example: 125000
        tierMiles:
          type: integer
          description: Miles earned toward tier qualification
          example: 78500
        memberSince:
          type: string
          format: date
          description: Membership start date
          example: '2018-03-15'
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 for Mileage Plan partner API access
      flows:
        clientCredentials:
          tokenUrl: https://api.alaskaair.com/oauth/token
          scopes:
            loyalty:read: Read member data
            loyalty:write: Report and manage miles
