openapi: 3.2.0
info:
  title: Alaska Airlines Mileage Plan Transactions API
  description: The Alaska Airlines Mileage Plan partner API enables airline partners, hotel chains, car rental companies, and other loyalty partners to report and redeem miles for members. Alaska's Mileage Plan is consistently rated among the top frequent flyer programs.
  version: 1.0.0
  contact:
    name: Alaska Airlines API Support
    url: https://developers.alaskaair.com/
    email: api.support@alaskaair.com
  license:
    name: Proprietary
    url: https://developers.alaskaair.com/
  x-generated-from: documentation
servers:
- url: https://api.alaskaair.com/loyalty/v1
  description: Alaska Airlines Mileage Plan API server
security:
- OAuth2: []
tags:
- name: Transactions
  description: Mile earn and redemption transaction history
paths:
  /members/{memberId}/transactions:
    get:
      operationId: getMemberTransactions
      summary: Alaska Airlines Get Mileage Plan Transactions
      description: Retrieve mile earning and redemption transaction history for a Mileage Plan member.
      tags:
      - Transactions
      parameters:
      - name: memberId
        in: path
        required: true
        description: Mileage Plan member number
        schema:
          type: string
          example: '12345678'
      - name: fromDate
        in: query
        description: Start date filter (YYYY-MM-DD)
        schema:
          type: string
          format: date
          example: '2026-01-01'
      - name: toDate
        in: query
        description: End date filter (YYYY-MM-DD)
        schema:
          type: string
          format: date
          example: '2026-04-19'
      - name: type
        in: query
        description: Transaction type filter
        schema:
          type: string
          enum:
          - earn
          - redeem
      responses:
        '200':
          description: Transaction history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionList'
              examples:
                getMemberTransactions200Example:
                  summary: Default getMemberTransactions 200 response
                  x-microcks-default: true
                  value:
                    memberId: '12345678'
                    transactions:
                    - transactionId: TXN-987654
                      type: earn
                      miles: 2500
                      description: Flight AS123 SEA-LAX
                      date: '2026-04-19'
                      partner: Alaska Airlines
        '404':
          description: Member not found
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    TransactionList:
      title: TransactionList
      type: object
      description: List of Mileage Plan transactions
      properties:
        memberId:
          type: string
          description: Member number
          example: '12345678'
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
        totalCount:
          type: integer
          description: Total transaction count
          example: 42
    Transaction:
      title: Transaction
      type: object
      description: A Mileage Plan mile earn or redeem transaction
      properties:
        transactionId:
          type: string
          description: Unique transaction identifier
          example: TXN-987654
        type:
          type: string
          description: Transaction type
          enum:
          - earn
          - redeem
          example: earn
        miles:
          type: integer
          description: Miles earned or redeemed
          example: 2500
        description:
          type: string
          description: Transaction description
          example: Flight AS123 SEA-LAX
        date:
          type: string
          format: date
          description: Transaction date
          example: '2026-04-19'
        partner:
          type: string
          description: Partner name
          example: Alaska Airlines
  securitySchemes:
    OAuth2:
      type: oauth2
      description: OAuth 2.0 for Mileage Plan partner API access
      flows:
        clientCredentials:
          tokenUrl: https://api.alaskaair.com/oauth/token
          scopes:
            loyalty:read: Read member data
            loyalty:write: Report and manage miles
