openapi: 3.0.3
info:
  title: Alaska Air Cargo Airports Schedules API
  description: Alaska Air Cargo APIs enable partners to book shipments, track cargo, get rate estimates, and access schedules across 115+ cargo destinations worldwide. Alaska Airlines operates the only U.S. passenger airline with dedicated cargo aircraft including Airbus A330s and Boeing 787s.
  version: 1.0.0
  contact:
    name: Alaska Air Cargo
    url: https://www.alaskacargo.com/
  license:
    name: Proprietary
    url: https://www.alaskacargo.com/
  x-generated-from: documentation
servers:
- url: https://api.alaskacargo.com/v1
  description: Alaska Air Cargo API server
security:
- ApiKeyHeader: []
tags:
- name: Schedules
  description: Flight schedule data for Alaska Airlines and Horizon Air routes
paths:
  /schedules:
    get:
      operationId: getSchedules
      summary: Alaska Airlines Get Flight Schedules
      description: Retrieve scheduled flights for a specific route and date range, including departure/arrival times, operating days, frequency, and aircraft equipment type.
      tags:
      - Schedules
      parameters:
      - name: origin
        in: query
        required: true
        description: IATA origin airport code
        schema:
          type: string
          example: SEA
      - name: destination
        in: query
        required: true
        description: IATA destination airport code
        schema:
          type: string
          example: LAX
      - name: departureDate
        in: query
        required: true
        description: Departure date in YYYY-MM-DD format
        schema:
          type: string
          format: date
          example: '2026-04-19'
      - name: returnDate
        in: query
        description: Return date for round-trip schedule queries (YYYY-MM-DD)
        schema:
          type: string
          format: date
          example: '2026-04-26'
      - name: carrier
        in: query
        description: Carrier filter (AS for Alaska, QX for Horizon)
        schema:
          type: string
          enum:
          - AS
          - QX
      responses:
        '200':
          description: Flight schedule data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleResponse'
              examples:
                getSchedules200Example:
                  summary: Default getSchedules 200 response
                  x-microcks-default: true
                  value:
                    origin: SEA
                    destination: LAX
                    departureDate: '2026-04-19'
                    schedules:
                    - flightNumber: AS123
                      carrier: AS
                      departureTime: 08:30
                      arrivalTime: '11:05'
                      duration: 155
                      aircraft: Boeing 737-900ER
                      operatingDays:
                      - Monday
                      - Wednesday
                      - Friday
                      stops: 0
                      cabin: Economy
        '400':
          description: Invalid request parameters
        '401':
          description: Unauthorized - invalid API key
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    Schedule:
      title: Schedule
      type: object
      description: A scheduled flight between two airports
      properties:
        flightNumber:
          type: string
          description: Alaska Airlines flight number
          example: AS123
        carrier:
          type: string
          description: Operating carrier code
          enum:
          - AS
          - QX
          example: AS
        departureTime:
          type: string
          description: Scheduled departure time (HH:MM local)
          example: 08:30
        arrivalTime:
          type: string
          description: Scheduled arrival time (HH:MM local)
          example: '11:05'
        duration:
          type: integer
          description: Flight duration in minutes
          example: 155
        aircraft:
          type: string
          description: Aircraft type/model
          example: Boeing 737-900ER
        operatingDays:
          type: array
          description: Days of week this flight operates
          items:
            type: string
          example:
          - Monday
          - Wednesday
          - Friday
        stops:
          type: integer
          description: Number of intermediate stops
          example: 0
        cabin:
          type: string
          description: Available cabin class
          enum:
          - First
          - Premium Class
          - Economy
          example: Economy
    ScheduleResponse:
      title: ScheduleResponse
      type: object
      description: Flight schedule query response
      properties:
        origin:
          type: string
          description: Origin airport IATA code
          example: SEA
        destination:
          type: string
          description: Destination airport IATA code
          example: LAX
        departureDate:
          type: string
          format: date
          description: Query departure date
          example: '2026-04-19'
        schedules:
          type: array
          description: List of scheduled flights
          items:
            $ref: '#/components/schemas/Schedule'
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: Ocp-Apim-Subscription-Key
      description: API subscription key for Alaska Air Cargo
