openapi: 3.0.3
info:
  title: Alaska Airlines Flight Status API
  description: >-
    The Alaska Airlines Flight Status API provides real-time flight status,
    departure and arrival information, gate assignments, and delay details
    for Alaska Airlines (AS) and Horizon Air (QX) flights.
  version: 1.0.0
  contact:
    name: Alaska Airlines API Support
    url: https://developers.alaskaair.com/
    email: api.support@alaskaair.com
  license:
    name: Proprietary
    url: https://developers.alaskaair.com/
  x-generated-from: documentation
servers:
  - url: https://api.alaskaair.com/v1
    description: Alaska Airlines API production server
security:
  - ApiKeyHeader: []
paths:
  /flights/{flightNumber}/status:
    get:
      operationId: getFlightStatus
      summary: Alaska Airlines Get Flight Status
      description: >-
        Retrieve real-time status for a specific Alaska Airlines or Horizon Air
        flight including departure and arrival times, gate assignments, delays,
        and current aircraft position.
      tags:
        - Flight Status
      parameters:
        - name: flightNumber
          in: path
          required: true
          description: Alaska Airlines flight number (e.g., AS123)
          schema:
            type: string
            example: AS123
        - name: flightDate
          in: query
          required: true
          description: Flight date in YYYY-MM-DD format
          schema:
            type: string
            format: date
            example: "2026-04-19"
        - name: originAirport
          in: query
          description: IATA code for origin airport
          schema:
            type: string
            example: SEA
        - name: destinationAirport
          in: query
          description: IATA code for destination airport
          schema:
            type: string
            example: LAX
      responses:
        '200':
          description: Flight status information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlightStatus'
              examples:
                getFlightStatus200Example:
                  summary: Default getFlightStatus 200 response
                  x-microcks-default: true
                  value:
                    flightNumber: AS123
                    flightDate: "2026-04-19"
                    carrier: AS
                    status: On Time
                    origin:
                      airportCode: SEA
                      airportName: Seattle-Tacoma International Airport
                      scheduledDeparture: "2026-04-19T08:30:00-07:00"
                      estimatedDeparture: "2026-04-19T08:30:00-07:00"
                      gate: D6
                      terminal: S
                    destination:
                      airportCode: LAX
                      airportName: Los Angeles International Airport
                      scheduledArrival: "2026-04-19T11:05:00-07:00"
                      estimatedArrival: "2026-04-19T11:05:00-07:00"
                      gate: 62A
                      terminal: 6
                    aircraft:
                      type: Boeing 737-900ER
                      tailNumber: N491AS
        '404':
          description: Flight not found
        '401':
          description: Unauthorized - invalid or missing API key
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /flights:
    get:
      operationId: listFlights
      summary: Alaska Airlines List Flights by Route
      description: >-
        Retrieve a list of Alaska Airlines flights for a specific route and
        date, including status information for all scheduled departures.
      tags:
        - Flight Status
      parameters:
        - name: originAirport
          in: query
          required: true
          description: IATA code for origin airport
          schema:
            type: string
            example: SEA
        - name: destinationAirport
          in: query
          required: true
          description: IATA code for destination airport
          schema:
            type: string
            example: LAX
        - name: flightDate
          in: query
          required: true
          description: Flight date in YYYY-MM-DD format
          schema:
            type: string
            format: date
            example: "2026-04-19"
        - name: carrier
          in: query
          description: Carrier code filter (AS for Alaska, QX for Horizon)
          schema:
            type: string
            enum:
              - AS
              - QX
            example: AS
      responses:
        '200':
          description: List of flights for the route and date
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FlightList'
              examples:
                listFlights200Example:
                  summary: Default listFlights 200 response
                  x-microcks-default: true
                  value:
                    flights:
                      - flightNumber: AS123
                        carrier: AS
                        status: On Time
                        scheduledDeparture: "2026-04-19T08:30:00-07:00"
                        scheduledArrival: "2026-04-19T11:05:00-07:00"
                      - flightNumber: AS567
                        carrier: AS
                        status: Delayed
                        scheduledDeparture: "2026-04-19T14:15:00-07:00"
                        scheduledArrival: "2026-04-19T16:50:00-07:00"
                        delayMinutes: 45
                    originAirport: SEA
                    destinationAirport: LAX
                    flightDate: "2026-04-19"
        '400':
          description: Invalid request parameters
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: Ocp-Apim-Subscription-Key
      description: Azure API Management subscription key
  schemas:
    Airport:
      title: Airport
      type: object
      description: Airport departure or arrival information
      properties:
        airportCode:
          type: string
          description: IATA airport code
          example: SEA
        airportName:
          type: string
          description: Full airport name
          example: Seattle-Tacoma International Airport
        scheduledDeparture:
          type: string
          format: date-time
          description: Scheduled departure time with timezone
          example: "2026-04-19T08:30:00-07:00"
        estimatedDeparture:
          type: string
          format: date-time
          description: Estimated departure time with timezone
          example: "2026-04-19T08:30:00-07:00"
        scheduledArrival:
          type: string
          format: date-time
          description: Scheduled arrival time with timezone
          example: "2026-04-19T11:05:00-07:00"
        estimatedArrival:
          type: string
          format: date-time
          description: Estimated arrival time with timezone
          example: "2026-04-19T11:05:00-07:00"
        gate:
          type: string
          description: Gate assignment
          example: D6
        terminal:
          type: string
          description: Terminal designation
          example: S
    Aircraft:
      title: Aircraft
      type: object
      description: Aircraft information for the flight
      properties:
        type:
          type: string
          description: Aircraft type/model
          example: Boeing 737-900ER
        tailNumber:
          type: string
          description: Aircraft tail number (registration)
          example: N491AS
    FlightStatus:
      title: FlightStatus
      type: object
      description: Real-time status for an Alaska Airlines flight
      properties:
        flightNumber:
          type: string
          description: Flight number including carrier code
          example: AS123
        flightDate:
          type: string
          format: date
          description: Flight operating date
          example: "2026-04-19"
        carrier:
          type: string
          description: Operating carrier code
          enum:
            - AS
            - QX
          example: AS
        status:
          type: string
          description: Flight status description
          enum:
            - On Time
            - Delayed
            - Cancelled
            - Departed
            - Arrived
            - Diverted
          example: On Time
        delayMinutes:
          type: integer
          description: Delay in minutes (0 if on time)
          example: 0
        delayReason:
          type: string
          description: Reason for delay if applicable
          example: Late arriving aircraft
        origin:
          $ref: '#/components/schemas/Airport'
        destination:
          $ref: '#/components/schemas/Airport'
        aircraft:
          $ref: '#/components/schemas/Aircraft'
    FlightSummary:
      title: FlightSummary
      type: object
      description: Summary flight information for route listing
      properties:
        flightNumber:
          type: string
          description: Flight number
          example: AS123
        carrier:
          type: string
          description: Operating carrier code
          example: AS
        status:
          type: string
          description: Flight status
          example: On Time
        scheduledDeparture:
          type: string
          format: date-time
          description: Scheduled departure time
          example: "2026-04-19T08:30:00-07:00"
        scheduledArrival:
          type: string
          format: date-time
          description: Scheduled arrival time
          example: "2026-04-19T11:05:00-07:00"
        delayMinutes:
          type: integer
          description: Delay in minutes
          example: 0
    FlightList:
      title: FlightList
      type: object
      description: List of flights for a route and date
      properties:
        flights:
          type: array
          description: Array of flight summaries
          items:
            $ref: '#/components/schemas/FlightSummary'
        originAirport:
          type: string
          description: Origin airport IATA code
          example: SEA
        destinationAirport:
          type: string
          description: Destination airport IATA code
          example: LAX
        flightDate:
          type: string
          format: date
          description: Flight date
          example: "2026-04-19"
tags:
  - name: Flight Status
    description: Real-time flight status and tracking for Alaska Airlines and Horizon Air flights
